.bankid-oidc-login-button-wrapper {
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.bankid-oidc-login-button-wrapper a {
  display: block;
  height: 60px;
  width: 380px;
  max-width: 100%;
  /* background-image url is set in the form-element to get the correct path. */
  background: transparent no-repeat center/contain;
  text-indent: -99999px;
  overflow: hidden;
  margin: 15px auto 25px;
}

.drupal-default-login-wrapper {
  font-size: .75em;
}
